html {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale
}

*,*:before,*:after {
    box-sizing: inherit
}

a {
    color: #bababa
}

a:active,a:visited {
    color: #bababa
}

.btn-icon {
    vertical-align: top;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #f5f6f7;
    color: #515151;
    text-align: center;
    line-height: 30px;
    font-size: 100%;
    font-family: "pnply-icons";
    font-weight: 400;
    text-decoration: none
}

.btn-icon img {
    width: 20px;
    vertical-align: top;
    vertical-align-margin: 6px 0
}

.btn-icon.rss {
    color: #ff6600;
    background-color: #ffffff
}

.btn-icon.itunes {
    background: url(//assets.megaphone.fm/assets/apple-podcast-logo-color-0ac5d8c442223c9c2c0131bb566208b4f3c521e46eeab08ef544978be16665f5.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: #ffffff;
    background-position: center
}

.btn-icon.spotify {
    background: url(//assets.megaphone.fm/assets/spotify-logo-8f0cfd31d72f350d15060aecd86dbc5621f51d46084f549430c9c2656b1572b9.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: #ffffff;
    background-position: center
}

.btn-icon.stitcher {
    background: url(//assets.megaphone.fm/assets/stitcher-logo-886f94db118b3590c971dbcc4ff11d8e70f25fb1d43e406700d745f2c46f49c7.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: #ffffff;
    background-position: center
}

.btn-icon.google_play {
    background: url(//assets.megaphone.fm/assets/google-play-music-b7d279c9536b28bbeaba345af04d23571ebb2694e9a32139ccab3c72826a9f57.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: #ffffff;
    background-position: 7px 5px
}

.btn-icon.google_podcasts {
    background: url(//assets.megaphone.fm/assets/google-podcasts-logo-eac680fff580d1d95a52e5408a4007e60005021d283401955d49a947316b7ebd.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: #ffffff;
    background-position: center
}

.btn-icon.iheart {
    background: url(//assets.megaphone.fm/assets/iheart-logo-b4121ee1a483707de60d75b4c827854bd0c8a5a342212971e3d12b299943de6b.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: #ffffff;
    background-position: center
}

.btn-icon.twitter {
    background-color: #00aced;
    font-size: 20px
}

.btn-icon.twitter:before {
    content: "";
    color: #ffffff
}

.btn-icon.facebook {
    background-color: #3b5998;
    font-size: 24px
}

.btn-icon.facebook:before {
    content: "";
    color: #ffffff
}

.btn-icon.download {
    background-color: #ffffff;
    font-size: 20px
}

.btn-icon.download:before {
    content: "";
    color: #515151
}

.btn-icon.embed {
    background-color: #ffffff;
    font-size: 20px
}

.btn-icon.embed:before {
    content: "";
    color: #515151
}

.btn-icon.embed.is-copied:before {
    content: "";
    color: #65c06e
}

.btn-icon:hover {
    cursor: pointer
}

.player-container .waveform-error {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #232831;
    text-align: center;
    color: #ffffff
}

.player-container .waveform-error__message {
    margin-top: 70px
}

.player-container .waveform-error__logo {
    display: block;
    font-size: 180px;
    margin-top: 45px
}

.player-container .waveform-error__copyright {
    margin-top: 5px;
    line-height: 10px;
    font-size: 10px;
    width: 100%;
    color: #bdc3c7
}

@font-face {
    font-family:"pnply";font-style:normal;font-weight:400;src:url(//assets.megaphone.fm/assets/pnply-font-69c4b96309a3548d9b875986c26f1c634ebd04b15933df2d9d5ff0807d7785ef.woff) format("woff")
}

@font-face {
    font-family:"pnply";font-style:normal;font-weight:300;src:url(//assets.megaphone.fm/assets/pnply-font-light-12a71ce50e1e0afb80361f279bd7fdc2bc15ee91533d150d6fa95a0017ce4dce.woff) format("woff")
}

@font-face {
    font-family:"pnply";font-style:normal;font-weight:500;src:url(//assets.megaphone.fm/assets/pnply-font-medium-43a5c49df4efe7cfaa7fc1ec8e287dcab93eecf7b383a4eb2bd617778ca4d8b0.woff) format("woff")
}

@font-face {
    font-family:"pnply-icons";font-style:normal;font-weight:400;src:url(//assets.megaphone.fm/assets/pnply-icons-55f6305b1444134d06be38ecf9581c7778755126878cedeafe55fd1bf3f10d9b.eot);src:url(//assets.megaphone.fm/assets/pnply-icons-55f6305b1444134d06be38ecf9581c7778755126878cedeafe55fd1bf3f10d9b.eot?#iefix) format("embedded-opentype"),url(//assets.megaphone.fm/assets/pnply-icons-51ea7418dadd988c5fcc4a15616df9bc69cfad4a533aead140eeaea041890e06.woff) format("woff"),url(//assets.megaphone.fm/assets/pnply-icons-d6b59a6da603cead803f4da968815bdd3751832a3cacd1714dcfcdfef3d936be.ttf) format("truetype"),url(//assets.megaphone.fm/assets/pnply-icons-97533e29194d82aeafa9fb8b7a58b3b3e904919cbd4cdab9ce799f34ee36dbba.svg#pnply-icons) format("svg")
}

.icon {
    vertical-align: top;
    display: inline-block;
    font-family: "pnply-icons", "pnply";
    margin-right: 10px
}

.icon:hover {
    cursor: pointer;
    color: #ffffff
}

.icon.is-hidden {
    display: none
}

.megaphone-icon {
    float: right;
    vertical-align: top;
    display: inline-block;
    width: 100px;
    margin-top: 8px
}

.player-container.light-player .player {
    background-color: #f5f6f7
}

.player-container.light-player .player__timer {
    color: #555555
}

.player-container.light-player .player__episode-info__podcast-title {
    color: #555555
}

.player-container.light-player .player__episode-info__episode-title {
    color: #232831
}

.player-container.light-player .player__episode-info__episode-subtitle {
    color: #555555
}

.player-container.light-player .player__overlay-container {
    background-color: #e7e9ec
}

.player-container.light-player .player__overlay-container__menu-bar {
    color: #232831
}

.player-container.light-player .player__overlay-container__menu-bar #subscribe:hover,.player-container.light-player .player__overlay-container__menu-bar #download:hover {
    color: #555555
}

.player-container.light-player .subscriptions-tab__title,.player-container.light-player .sharing-tab__title,.player-container.light-player .cookie-tab__title {
    color: #232831
}

.player-container.light-player .subscriptions-tab__subtitle,.player-container.light-player .sharing-tab__subtitle,.player-container.light-player .cookie-tab__subtitle {
    color: #555555
}

.player-container.light-player .waveform--scrubber {
    background: #f5f6f7;
    opacity: 0.6
}

.player-container.light-player .btn-icon.download {
    background-color: #232831
}

.player-container.light-player .btn-icon.download:before {
    color: #f5f6f7
}

.player-container.light-player .btn-icon.embed {
    background-color: #232831
}

.player-container.light-player .btn-icon.embed:before {
    color: #f5f6f7
}

.player-container.light-player .megaphone-icon:before {
    color: #21343a
}

.player-container.light-player .waveform-error {
    background-color: #f5f6f7;
    color: #232831
}

.player-container.light-player .waveform-error__copyright {
    color: #555555
}

.player-container.light-player .icon {
    color: #232831
}

.player-container.light-player .icon:hover {
    color: #555555
}

.player-container {
    font-family: "pnply";
    font-size: 16px;
    width: 100%;
    height: 12.5em;
    position: relative;
    overflow: hidden
}

@media screen and (max-height: 199px) {
    .player-container {
        font-size: 12px
    }
}

.player-art {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 100%;
    width: auto
}

@media screen and (max-width: 620px) {
    .player-art {
        display: none
    }
}

.player-art img {
    display: block;
    height: 100%
}

.player {
    position: absolute;
    left: 12.5em;
    top: 0;
    width: calc(100% - 12.5em);
    height: 100%;
    max-width: 100%;
    background-color: #232831;
    padding: 20px 0 25px
}

@media screen and (max-width: 620px) {
    .player {
        width: 100%;
        left: 0
    }
}

.player__controls {
    position: absolute;
    width: 80px
}

.player__controls.is-hidden * {
    display: none
}

.player__controls__play-btn {
    position: relative;
    vertical-align: top;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: #7474ec
}

.player__controls__play-btn:hover {
    cursor: pointer;
    background-color: #5a5abc
}

.player__controls__play-btn:active {
    background-color: #9595fb
}

.player__controls__play-btn__play-icon {
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin: 11px;
    padding-left: 2px
}

.player__controls__play-btn__pause-icon {
    display: none;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin: 11px
}

.player__controls__play-btn.is-playing .player__controls__play-btn__play-icon {
    display: none
}

.player__controls__play-btn.is-playing .player__controls__play-btn__pause-icon {
    display: inline-block
}

.player__controls__play-btn .spin-loader {
    display: none;
    position: absolute;
    top: -5px;
    left: -5px;
    height: 50px;
    width: 50px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid rgba(255,255,255,0.4);
    border-bottom: 2px solid rgba(255,255,255,0.4);
    border-left: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spinner-loader 0.7s infinite linear;
    animation: spinner-loader 0.7s infinite linear
}

.player__controls__play-btn .spin-loader.is-loading {
    display: block
}

@-webkit-keyframes spinner-loader {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }

    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes spinner-loader {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }

    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.player__episode-info {
    height: 54%;
    margin-left: 80px;
    width: calc(100% - 2 * 80px)
}

@media screen and (max-height: 199px) {
    .player__episode-info {
        height: 40%
    }
}

@media screen and (max-width: 410px) {
    .player__episode-info {
        width: calc(100% - 85px)
    }
}

.player__episode-info.is-hidden * {
    display: none !important
}

.player__episode-info__podcast-title {
    height: 1.25em;
    font-size: 0.8em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #c3c3c3
}

@media screen and (max-height: 199px) {
    .player__episode-info__podcast-title {
        font-size: 1.5em;
        height: 1.25em;
        white-space: normal;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }
}

.player__episode-info__episode-title {
    height: 1.25em;
    width: 100%;
    margin-top: 3px;
    color: #ffffff;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media screen and (max-width: 410px) {
    .player__episode-info__episode-title {
        white-space: normal;
        height: 2.5em;
        font-size: 0.9em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }
}

@media screen and (max-height: 199px) {
    .player__episode-info__episode-title {
        display: none
    }
}

.player__episode-info__episode-subtitle {
    margin-top: 3px;
    color: #c3c3c3;
    font-size: 0.75em;
    line-height: 1.2em;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

@media screen and (max-width: 410px) {
    .player__episode-info__episode-subtitle {
        display: none
    }
}

@media screen and (max-height: 199px) {
    .player__episode-info__episode-subtitle {
        display: none
    }
}

.player__timer {
    position: absolute;
    padding: 3px 3px 0 3px;
    font-size: 0.8em;
    top: 43%;
    right: 20px;
    color: #bababa
}

@media screen and (max-height: 199px) {
    .player__timer {
        top: 29%;
        font-size: 1em
    }
}

.player__waveform-container {
    position: relative;
    height: 40%;
    overflow: hidden;
    margin: 0 15px
}

@media screen and (max-width: 620px) {
    .player__waveform-container {
        margin: 0 5px
    }
}

@media screen and (max-height: 199px) {
    .player__waveform-container {
        height: 60%
    }
}

.player__overlay-container {
    position: absolute;
    bottom: calc(26px - 12.5em);
    z-index: 4;
    width: 100%;
    height: 12.5em;
    padding: 0 20px;
    background-color: #191d23;
    -webkit-transition: bottom 0.25s;
    transition: bottom 0.25s
}

.player__overlay-container.is-up {
    position: absolute;
    bottom: 0
}

.player__overlay-container__menu-bar {
    font-size: 10px;
    line-height: 26px;
    color: #bababa;
    text-transform: uppercase
}

.player__overlay-container__menu-bar #subscribe:hover {
    cursor: pointer;
    color: #ffffff
}

.player__overlay-container__menu-bar #subscribe.is-hidden {
    visibility: hidden
}

.subscriptions-tab,.sharing-tab,.cookie-tab {
    display: none
}

.subscriptions-tab__title,.sharing-tab__title,.cookie-tab__title {
    height: 25px;
    margin-top: 25px;
    color: #ffffff;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

@media screen and (max-height: 199px) {
    .subscriptions-tab__title,.sharing-tab__title,.cookie-tab__title {
        margin-top: 12px
    }
}

.subscriptions-tab__subtitle,.sharing-tab__subtitle,.cookie-tab__subtitle {
    height: 20px;
    margin-bottom: 15px;
    color: #c3c3c3;
    font-size: 12px
}

.subscriptions-tab.is-visible,.sharing-tab.is-visible,.cookie-tab.is-visible {
    display: block
}

.player-container.tile-player {
    height: 100%
}

.player-container.tile-player .player-art {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: none
}

@media screen and (max-width: 620px) {
    .player-container.tile-player .player-art {
        display: block
    }
}

.player-container.tile-player .player {
    position: relative;
    left: 0;
    height: 175px;
    width: 100%;
    overflow: hidden
}

.player-container.tile-player .player__controls {
    width: 60px
}

.player-container.tile-player .player__controls__play-btn {
    width: 40px;
    height: 40px;
    line-height: 40px
}

.player-container.tile-player .player__episode-info {
    margin-left: 70px;
    width: calc(100% - 2 * 50px)
}

.player-container.tile-player .player__episode-info__podcast-title {
    display: none
}

.player-container.tile-player .player__episode-info__episode-title {
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1.4em;
    height: 40px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.player-container.tile-player .player__episode-info__episode-subtitle {
    position: absolute;
    top: 65px;
    left: 20px;
    width: calc(100% - 40px);
    height: 42px;
    -webkit-line-clamp: 4
}

.player-container.tile-player .player__timer {
    bottom: 42px;
    font-size: 0.7em;
    top: initial
}

.player-container.tile-player .player__waveform-container {
    position: absolute;
    bottom: 26px;
    height: 10px;
    left: 0;
    margin: 0;
    width: 100%
}

.player-container.tile-player .player__overlay-container {
    bottom: calc(26px - 175px);
    height: 175px
}

.player-container.tile-player .player__overlay-container.is-up {
    bottom: 0
}

.waveform {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.waveform--scrubber {
    width: 0;
    background: #232831;
    opacity: 0.4
}

.waveform--progress {
    width: 0;
    -webkit-transition: width 0.2s;
    transition: width 0.2s
}
